@model arhitektura_projekat.Models.Odeljenje

@{
    ViewData["Title"] = "Dodaj Odeljenje";
}

<div>
    <div>
        <div class="container my-5" style="display: flex; justify-content: center;">
            <div class="card shadow-sm border-success" style="width: 50%;">
                <div class="card-header bg-success text-white">
                    <h2 class="text-center mb-0">Dodaj Odeljenje</h2>
                </div>
                <div class="card-body">
                    <form asp-action="Create">
                        
                        <div class="form-group mb-3">
                            <label asp-for="Naziv" class="form-label"><b>Naziv odeljenja</b></label>
                            <input asp-for="Naziv" class="form-control" />
                            <span asp-validation-for="Naziv" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Lokacija" class="form-label"><b>Lokacija</b></label>
                            <input asp-for="Lokacija" class="form-control" />
                            <span asp-validation-for="Lokacija" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Slika" class="form-label"><b>Slika</b></label>
                            <input asp-for="Slika" class="form-control" />
                            <span asp-validation-for="Slika" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="BolnicaId" class="form-label"><b>Bolnica</b></label>
                            <select asp-for="BolnicaId" class="form-control" asp-items="ViewBag.Bolnice"></select>
                            <span asp-validation-for="BolnicaId" class="text-danger"></span>
                        </div>

                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-success mx-2">Sačuvaj</button>
                            <a asp-action="Index" class="btn btn-secondary mx-2">Odustani</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
