@model arhitektura_projekat.Models.Pacijent

@{
    ViewData["Title"] = "Obriši Pacijenta";
}

<div>
    <div>
        <div class="container my-5" style="display: flex; justify-content: center;">
            <div class="card shadow-sm border-danger" style="width: 50%;">
                <div class="card-header bg-danger text-white">
                    <h2 class="text-center mb-0">Obriši Pacijenta</h2>
                </div>
                <div class="card-body">
                    <h4 class="text-center text-danger mb-4">Da li ste sigurni da želite da obrišete ovog pacijenta?</h4>

                    <div class="row justify-content-center">
                        <div class="col-md-8" style="text-align: left;">
                            <p style="margin-left: 100px;">
                                <b>Ime:</b> &nbsp; @Html.DisplayFor(model => model.Ime) <br>
                                <b>Prezime:</b> &nbsp; @Html.DisplayFor(model => model.Prezime) <br>
                                <b>Odeljenje:</b> &nbsp; @Html.DisplayFor(model => model.Odeljenje.Naziv) <br>
                                <b>Dijagnoza:</b> &nbsp; @Html.DisplayFor(model => model.Dijagnoza.Naziv)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <form asp-action="Delete" method="post" class="d-inline">
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="btn btn-danger mx-2">Obriši</button>
                    </form>
                    <a asp-action="Index" class="btn btn-secondary mx-2">Nazad na listu</a>
                </div>
            </div>
        </div>
    </div>
</div>
