@{
    ViewData["Title"] = "Home Page";
}
<div class="background-image">
    <div class="page">
        <div class="container col-xl-10 col-xxl-8 px-4 py-5">
            <div class="row align-items-center g-lg-5 py-5">
                <div class="col-lg-7 text-center text-lg-start">
                    <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Dobrodošli u Sistem Upravljanja Bolnicama</h1>
                    <p class="col-lg-10 fs-4">U srcu svakog zdravstvenog sistema leži posvećenost unapređenju nege i podrške pacijentima. Naš cilj je da obezbedimo temelj za efikasan rad u zdravstvu, gde su podaci lako dostupni, ažurni i uvek zaštićeni.</p>
                </div>

                <div class="col-md-10 mx-auto col-lg-5">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <h2>Dobrodošli, @ViewBag.FirstName!</h2>
                        <form asp-action="Logout" asp-controller="Home" method="post" style="display:inline;">
                            <button class="btn btn-danger">Odjavi se</button>
                        </form>
                    }
                    else
                    {
                        <form asp-action="Login" asp-controller="Home" method="post" class="p-4 p-md-5 border rounded-3 bg-body-tertiary form-background">
                            <h2 class="p-2 mb-3">Prijavi se</h2>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" name="Email" placeholder="name@example.com" required>
                                <label for="floatingInput">Email address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" name="Password" placeholder="Password" required>
                                <label for="floatingPassword">Password</label>
                            </div>
                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="RememberMe"> Zapamti me
                                </label>
                            </div>
                            @if (TempData["Message"] != null)
                            {
                                <div class="mb-3">
                                    <small class="text-body-secondary mb-3" style="color: red;">@TempData["Message"]</small>
                                </div>
                             }
                             @if (TempData["LoginError"] != null)
                             {
                                <div class="mb-3">
                                    <small class="text-body-secondary mb-3" style="color: red;">@TempData["LoginError"]</small>
                                </div>
                             }
                            <button class="w-100 btn btn-lg btn-primary" type="submit">Prijavi se</button>
                            <hr class="my-4">
                            <small class="text-body-secondary">Nemaš nalog? <a href="/Account/Register">Registruj se</a>.</small>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
